<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainSuite">
	<suite-files>
		<!-- <suite-file path="Suites/UsersSuite.xml" /> 
		 <suite-file path="Suites/BlogsSuite.xml" />
		 <suite-file path="Suites/OurteamSuite.xml" /> -->
		 <suite-file path="Suites/CategoriesSuite.xml" />
	</suite-files>
	<listeners>
		<listener class-name="com.runners.TestNGCustomReportListener" />
	</listeners>
</suite>